.Task {
    display: block;
    text-align: left;
    padding: 5px 15px;
    border: 1px solid gray;
    width: 500px;
    margin: 5px auto;
    line-height: 21px;
}

.Task-remove {
    float: right;
}